In [2]:
import pandas as pd

In [106]:
d = {'a':1,'b':2, 'c':3}

In [110]:
pd.Series(d, index=['a','c','b'])

a    1
c    3
b    2
dtype: int64

In [117]:
pd.DataFrame(d, index=['a','b','c'])

   a  b  c
a  1  2  3
b  1  2  3
c  1  2  3

In [4]:
pd.date_range('20180903', periods=6)

DatetimeIndex(['2018-09-03', '2018-09-04', '2018-09-05', '2018-09-06',
               '2018-09-07', '2018-09-08'],
              dtype='datetime64[ns]', freq='D')